<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
</head>
<body>
  <form post='products/create', >
    <div for='name'>
      <label> Name</label>
      <input type='text'/> 
    </div>
    <div for='about'>
      <label> About</label>
      <input type='text'/> 
    </div>
    <button type='submit'> submit </button>
  </form>
</body>
</html>