<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
</head>
<body>
  <p><%= Product.column_names %> </p>
  <h1>Product name <%= @product.name%> </h1>
  <h2> <%= @product.about%> </h2>
  <div> <a href=<%= products_path%>> back </a></div>
</body>
</html>